# Python Operators

## Arithmetic Operator

In [4]:
a=12
b=2
print("a+b=", a+b) # Addition
print("a-b=", a-b) # Subtraction
print("a*b=", a*b) # Multiplication
print("a/b=", a/b) # Division
print("a%b=", a%b) # Remainder of Division
print("a//b=", a//b) # Integer value of Divsion
print("a**b=", a**b) # a power b

a+b

a+b= 14
a-b= 10
a*b= 24
a/b= 6.0
a%b= 0
a//b= 6
a**b= 144

14

## Comparison Operator

In [5]:
a=10
b=20
print("a>b is ", a>b)
print("a<b is ", a<b)
print("a==b is ", a==b)
print("a!=b is ", a!=b)
print("a>=b is ", a>=b)
print("a<=b is ", a<=b)

a>b is  False
a<b is  True
a==b is  False
a!=b is  True
a>=b is  False
a<=b is  True

## Assignment Operator

In [6]:
x=5
print("X=", x)
x+=5
print("Updated value of X after (X+=5) is ", x)
x-=2
print("Updated value of X after (X-=2) is ", x)
x*=2
print("Updated value of X after (X*=2) is ", x)
x/=4
print("Updated value of X after (X/=4) is ", x)

X= 5
Updated value of X after (X+=5) is  10
Updated value of X after (X-=2) is  8
Updated value of X after (X*=2) is  16
Updated value of X after (X/=4) is  4.0

## Logical Operator

In [11]:
x=11
a=x>10 and x<20
print(a)
a= x>10 and x==12
print(a)
a=x>10 or x==20
print(a)
a=x>12 or x==20
print(a)

True
False
True
False

# Lists

In [1]:
#List is list of names or numbers
empty_list=[]
empty_list

[]

In [2]:
# Nested List
my_list=[['Data Science', 'Machine Learning'],[135, 235, 321]]
my_list

[['Data Science', 'Machine Learning'], [135, 235, 321]]

In [7]:
course=['Data Science', 'Machine Learning', 'Big Data', 'Python', 'HTML']
print(course)
print(course[0])
print(course[1])
print(course[-1])
print(course[-2])

['Data Science', 'Machine Learning', 'Big Data', 'Python', 'HTML']
Data Science
Machine Learning
HTML
Python

In [9]:
course[:3]

['Data Science', 'Machine Learning', 'Big Data']

course=['Data Science', 'Machine Learning', 'Big Data', 'Python', 'HTML']
course[:]

In [10]:
course[2:]

['Big Data', 'Python', 'HTML']

In [11]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2]) # from 2 it takes 2 steps till 7

[3, 5, 7]

In [14]:
course=['Data Science', 'Machine Learning', 'Big Data', 'Python', 'HTML']
course[3]='statistics'
course

['Data Science', 'Machine Learning', 'Big Data', 'statistics', 'HTML']

## List Methods

In [17]:
course1=['Data Science', 'Machine Learning', 'Big Data', 'Python', 'HTML']
course2=['statistics']
course1.append(course2)
course1

['Data Science',
 'Machine Learning',
 'Big Data',
 'Python',
 'HTML',
 ['statistics']]

In [18]:
course=['Data Science', 'Machine Learning', 'Big Data', 'Python', 'HTML']
course.insert(2, 'Statistics')
course

['Data Science',
 'Machine Learning',
 'Statistics',
 'Big Data',
 'Python',
 'HTML']

In [20]:
course1=['Data Science', 'Machine Learning', 'Big Data', 'Python', 'HTML']
course2=['Artificial Intelligence']
course1.extend(course2)
course1

['Data Science',
 'Machine Learning',
 'Big Data',
 'Python',
 'HTML',
 'Artificial Intellignece']

In [22]:
course=['Data Science', 'Machine Learning', 'Big Data', 'Python', 'HTML']
del course[2]
course.remove('HTML')
course

['Data Science', 'Machine Learning', 'Python']

In [25]:
course=['Data Science', 'Machine Learning', 'Big Data', 'Python', 'HTML']
course.pop() # Identifies and removes the last element in the list

'HTML'

In [26]:
course

['Data Science', 'Machine Learning', 'Big Data', 'Python']

In [27]:
course.pop(1)

'Machine Learning'

In [28]:
course.reverse()
course

['Python', 'Big Data', 'Data Science']

In [29]:
course1=['Data Science', 'Machine Learning', 'Big Data', 'Python', 'HTML']
course2=['Artificial Intelligence','Stastics]
course1+course2

['Data Science',
 'Machine Learning',
 'Big Data',
 'Python',
 'HTML',
 'Artificial Intellignece']

In [30]:
course1*2

['Data Science',
 'Machine Learning',
 'Big Data',
 'Python',
 'HTML',
 'Data Science',
 'Machine Learning',
 'Big Data',
 'Python',
 'HTML']

# Tuples

In [32]:
# Unlike lists Tupes cares about the order i.e the sequence
# If all entries are Strings then list is best to use
# If all entries are numbers and more arithmetic operations to be performed, then tuples are best to use
my_tuple=(123,2.228, "Hello World")
my_tuple

(123, 2.228, 'Hello World')

In [33]:
my_tuple=("Python", [2, 4, 5])
my_tuple

('Python', [2, 4, 5])

In [36]:
my_tuple=("Green", "Yellow", "Green", "Blue")
my_tuple[1]

'Yellow'

In [37]:
my_tuple[-2]

'Green'

## Changing Tuple values

In [38]:
my_tuple=("Green", "Yellow", "Green", "Blue")
my_tuple[0]='Orange'

TypeError: 'tuple' object does not support item assignment

In [42]:
my_tuple=(123, ['s','a','v'], "World")
print(my_tuple)
my_tuple[1][2]=99
print(my_tuple)

(123, ['s', 'a', 'v'], 'World')
(123, ['s', 'a', 99], 'World')

In [43]:
del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [45]:
my_tuple=('a','p','p','l','e','a','b','c','d','e','f','e','d','g')
my_tuple.count('e')

3

In [46]:
my_tuple.index('l')

3

In [47]:
my_tuple=(2,5,4,31,7,6,5,4,8,9,2)
sorted(my_tuple)

[2, 2, 4, 4, 5, 5, 6, 7, 8, 9, 31]

In [48]:
my_tuple=(2,5,4,31,7,6,5,4,8,9,2,"A")
sorted(my_tuple)

TypeError: '<' not supported between instances of 'str' and 'int'

# Dictionary

In [50]:
balance ={
    "Mia":87654,
    "John":89765,
    "Jill":83456
}
print(balance)

{'Mia': 87654, 'John': 89765, 'Jill': 83456}

In [53]:
x=balance["Mia"]
x

87654

In [55]:
x=balance.get("Jill")
x

83456

## Changing values in dictionary

In [56]:
year_sales={
    2015:45678,
    2016:34543,
    2017:56453
}
year_sales

{2015: 45678, 2016: 34543, 2017: 56453}

In [57]:
year_sales[2015]=50000
year_sales

{2015: 50000, 2016: 34543, 2017: 56453}

In [58]:
print(len(year_sales))

3

In [60]:
year_sales={
    2015:45678,
    2016:34543,
    2017:56453
}
year_sales[2018]=55000
year_sales

{2015: 45678, 2016: 34543, 2017: 56453, 2018: 55000}

## Dictionary Methods

In [61]:
year_sales={
    2015:45678,
    2016:34543,
    2017:56453
}
year_sales.pop(2015)

45678

In [62]:
year_sales

{2016: 34543, 2017: 56453}

In [63]:
year_sales={
    2015:45678,
    2016:34543,
    2017:56453
}
year_sales.popitem()

(2017, 56453)

In [64]:
year_sales

{2015: 45678, 2016: 34543}

In [65]:
del year_sales[2016]

In [66]:
year_sales

{2015: 45678}

year_sales.clear() # clear function is not working here

In [73]:
year_sales

{2015: 45678}

In [75]:
year_sales={
    2015:45678,
    2016:34543,
    2017:56453
}
copy_dict=year_sales.copy()
copy_dict

{2015: 45678, 2016: 34543, 2017: 56453}

In [77]:
#Sorting keys in a dictionary
Square={1:1,3:9,5:25,7:49,9:81}
sorted(Square)

[1, 3, 5, 7, 9]

In [80]:
year_sales={
    2015:45678,
    2016:34543,
    2017:56453
}
year_sales.update({2018:80000})
year_sales

{2015: 45678, 2016: 34543, 2017: 56453, 2018: 80000}

# Sets

In [81]:
#Sequence doesn't necessarily matter
s={1,2,3,3,4,5,4,6,3,5,7,8,9}
print(s)
# cares only about the content

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [82]:
set([1,2,3,4,3,5])

{1, 2, 3, 4, 5}

In [19]:
my_set = set([1,2,3])
print(my_set)

{1, 2, 3}

In [20]:
# Add elements to the set using add function

my_set.add(4)
my_set.add(5)
my_set.add(6)

# Display the set
print("Set after adding elements:", my_set)

Set after adding elements: {1, 2, 3, 4, 5, 6}

In [21]:
# Find the length of the set
set_length = len(my_set)
print("Length of the set:", set_length)

Length of the set: 6

In [22]:
# Update the set with another set or iterable
my_set.update([7, 8, 9])

# Display the updated set
print("Set after updating:", my_set)

Set after updating: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [23]:
# Remove an element from the set
my_set.remove(3)

# Display the set after removal
print("Set after removing element 3:", my_set)

Set after removing element 3: {1, 2, 4, 5, 6, 7, 8, 9}

In [24]:
# Pop an arbitrary element from the set
popped_element = my_set.pop()

# Display the set after popping an element
print("Set after popping element:", my_set)
print("Popped element:", popped_element)

Set after popping element: {2, 4, 5, 6, 7, 8, 9}
Popped element: 1

In [25]:
#Create a empty set
empty_set=set()
print(empty_set)
empty_set.add(1)
print(empty_set)

set()
{1}

# Conditional Statements

In [2]:
my_string='Python'
my_list=['Datat Science', 'Machine Learning', 'Artificial Intelligence', 'Python']
if my_string in my_list:
 print(my_string+'  Tutorial')

Python  Tutorial

In [4]:
languages=['Python', 'Perl', 'C#', 'Java', 'Ruby']
if 'Python' in languages:
     print('Right')

Right

In [5]:
x=200
print(x)
if not x==500:
    print("X value is different from 500")
else:
    print("X value is equal to 500")

200
X value is different from 500

In [7]:
string1=str(input("Enter your Userid"))
string2=str(input("Enter the password"))
if (string1 == "greatlearning" and string2== "simplelearning123"):
    print("You have successfully logged in")
else:
    print("Please check your userid and password")

Enter your Userid greatlearning
Enter the password simplelearning123

You have successfully logged in

In [8]:
num=100
if (num==0):
    print("Number is equal to zero")
elif (num>50):
    print("Number is greater than 50")
else:
    print("Number is smaller than 50")

Number is greater than 50

In [11]:
num=float(input("Enter a number : "))
if num >=0:
    if num==0:
        print("Zero")
    else:
        print(" Positive Number ")
else:
    print("Negative Number")

Enter a number :  -8

Negative Number

# Loop Statements

In [13]:
numbers=[56,45,34,78,75,89,90,92,45]
sum=0
for val in numbers:
    sum=sum+val

print("The sum is ", sum)

The sum is  604

In [15]:
a=0;
b=0
while (a<10):
    b=b+a
    a=a+1

else:
    print("The sum of first 9 integers is ", b)

The sum of first 9 integers is  45

# Break and Continue

In [23]:
for i in range(5):
    a= int(input("Enter number : "))
    if a<0:
        print("Met a negative number ",a )
        break
else:
           print("Not met a negative number ")

Enter number :  1
Enter number :  2
Enter number :  -3

Met a negative number  -3

In [24]:
for i in range(1,11):
    if i==6:
        continue
    else:
        print(i, end = " ")

1 2 3 4 5 7 8 9 10

In [1]:
i=0
while i<9:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6
7
8
9